.coin-container {
  display: flex;

  justify-content: center;
}
.coin-row {
  display: flex;

  justify-items: center;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #cfcccc;
  width: 500px;
}
.coin {
  display: flex;

  align-items: center;
  padding-right: 24px;
  min-width: 300px;
  margin-left: 60px;
}
.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;

  justify-content: space-between;
  width: 100%;
}
.coin-price {
  width: 110pxl;
}
.coin-percent {
  width: 100%;
  padding-left: 16px;
  margin-right: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
@media screen and (max-width: 500px) {
  .coin-container {
  width: 100%;
  }
  .coin{
   min-width: 180px;
   margin-left: unset;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .coin-row{
   display: flex;
    width: 100%;
    justify-content: space-around;
  
  }
  .coin-data{

    width: 30%;
    display: flex;
    justify-content: space-between;
    

  }
  .coin-price{
   
  }
  .coin-percent{
    margin-right: unset;
    padding:unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coin-name{
    width: unset !important;
    margin-right: 20px;
  }
}
